@model IEnumerable<Almoxarifado.Models.COLABORADOR>
@{
    ViewBag.Title = "Index";
}

<h2>Colaboradores</h2>

<a href="/Colaborador/Create"><button type="button" class="btn btn-success">Novo</button></a>

<table class="table">
    <thead>
        <tr>

            <th>
                Codigo

            </th>

            <th>
                Nome
            </th>

            <th>
                Cargo
            </th>

            <th>
                Área
            </th>

            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.COLID
                </td>
                <td>
                    @item.COLNOME
                </td>

                <td>
                    @item.COLCARGO
                </td>

                <td>
                    @item.AREA.AREDESCRICAO
                </td>

                <th>
                <td>
                    <a href="/Colaborador/Editar?= @item.COLID" class="btn btn-warning">Editar</a>
                    <a href="/Colaborador/Exibir?= @item.COLID" class="btn btn-primary">Exibir</a>
                    <a href="/Colaborador/Excluir?= @item.COLID
                       " class="btn btn-danger">Excluir</a>

                </td>


            </tr>
        }



    </tbody>
</table>
